/* Universal Styles */

html {
    font-family: "Verdana";
    font-size: 50px;
    font-weight: normal;
    color: white;
    background-color: black;
    text-align: center;
  }

button {
    font-size: 16px;
    color: aquamarine;
    text-align: center;
    display: inline-block;
    background-color: black;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 400px;
   }
button:hover {
    transition-property: background-color;
    background-color: cadetblue;
    transition: background-color 700ms ease-in-out 300ms;
}

/* Features Section */

.line-style1 {
    font-size: 42px;
    font-weight: 300;
}

.line-style2 {
    font-size: 21px;
    color: gray;
}

#features-section img {
    padding-top: 20px;
}

/*Footer*/

.copyright {
    text-align: right;
}

