/* Universal Styles */

html {
    font-family: "Verdana";
    font-size: 50px;
    font-weight: normal;
    color: white;
    background-color: black;
    text-align: center;
  }

.button {
    font-size: 16px;
    color: aquamarine;
}

/* Features Section */

.line-style1 {
    font-size: 42px;
    font-weight: 300;
}

.line-style2 {
    font-size: 21px;
    color: gray;
}

/*Footer*/

.copyright {
    text-align: right;
}

